<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>{{.Title}}</title>
</head>
<body>
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Index</a>
    </li>
    {{/*    <li class="nav-item">*/}}
    {{/*        <a class="nav-link" href="/add">Add</a>*/}}
    {{/*    </li>*/}}
    {{if .User}}
        <li class="nav-item">
            <a class="nav-link" href="/posts">Posts</a>
        </li>
    {{else}}
        <li class="nav-item">
            <a class="nav-link" href="/signin">Sign In</a>
        </li>
    {{end}}
</ul>
<h1>{{.H1}}</h1>
<a id="emailHelp" class="form-text" href="/signup">You can sign up if you don`t do this yet.</a>
<form method="post" action="/signin/auth">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" min="6">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>